VERSION=1.0
APP_ENV=development

# Database
DB_HOST=db
DB_NAME=mydb
DB_USER=root

# Resources
RESOURCES_PATH=resources

# View
VIEW_PATH=resources/views
VIEW_EXTENSION=.hurrycan.php

# Auth
ACCESS_TOKEN_SECRET=hurrycan@access-secret
REFRESH_TOKEN_SECRET=hurrycan@refresh-secret
COOKIE_SECRET=hurrycan@cookie-secret
CSRF_SECRET=hurrycan@csrf-secret
CORS_ORIGIN=https?://localhost:*,https?://127.0.0.1:*