
/* Overall HTML */
html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #f4f4f4;
}

nav{
    display: flex;
    flex-direction: column;
}

footer {
    padding: 10px 20px;
    background-color:  #4c4cbe; /* Placeholder color */
}

footer p{
    color: white;
    text-align: center;
}

footer p a{
    text-decoration: none;
    color: white;
}

/*Mobile viewport*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #69f783; /* Placeholder color */
}

/* .logo-placeholder img{
    background-color: #aaa; 
    display: flex;
    align-items: start;
    width: 10%;
} */

.logo-placeholder{
    display: flex;
    align-items: start;
}

.logo-placeholder img{
    width: 100%;
    aspect-ratio: 1/1;
}

.search-container {
    display: flex;
}
  
.search-container input {
    flex-grow: 1;
}
  
.search-button {
    background-color: #aaa; /* Placeholder */
    border: none;
    cursor: pointer;
}

/* Mobile navigation */
.tablet-desktop{
    display: none;
}

/* test side */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Main Layout */
.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    padding: 1%;
}
  
.left-sidebar, .right-sidebar {
  display: none;
}

.main-content {
  display: flex;
}


/* Product Cards */
.product-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.product-card .product-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* Make the image a square */
    background-color: #e0e0e0; /* Placeholder for product image */
}

.product-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
}
  
.product-card p {
    margin: 5px 0;
}
  
.price-container {
    display: inline-flex;
    gap: 5%;
}
  
.old-price-container {
    display: flex;
    align-items: center;
}
  
.new-price-container {
    display: flex;
    align-items: center;
    gap: 10%;
}
  
.price {
    font-size: 1.1em;
}
  
.new-price {
    font-size: 1.4em;
}
  
.discount {
    opacity: 0.7;
}

/* Gird Page Layout for product and shops */
.product-section {
    flex: 1 1 auto; /* Takes up the remaining space */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
  
.product-grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

/* Filters */
.filter-container {
    min-width: 12%;
}

.filter-section {
    flex: 0 0 auto; /* Fixed width for the filter */
    margin-bottom: 20px;
}
  
.filter-section h4 {
    margin-bottom: 10px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
.more-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc; /* Placeholder color */
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.searchRes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-menu {
    padding-right: 1%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-menu {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
}

.current-user {
    color: #4c4cbe;
}

/* Tablet Viewport */
@media screen and (min-width: 630px) { 
    .tablet-desktop{
        display: flex;
        list-style: none;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    nav ul li a{
        text-decoration: none;
        color: black;
    }

    .product-card {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
      
    .product-card .product-image {
        width: 100%;
        aspect-ratio: 1 / 1; /* Make the image a square */
    }
      
    .product-card p {
        margin: 5px 0;
    }
      
    .price-container {
        display: inline-flex;
        gap: 5%;
    }
      
    .old-price-container {
        display: flex;
        align-items: center;
    }
      
    .new-price-container {
        display: flex;
        align-items: center;
        gap: 10%;
    }
      
    .price {
        font-size: 1.1em;
    }
      
    .new-price {
        font-size: 1.4em;
    }
      
    .discount {
        opacity: 0.7;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small tablets */
    }
    
    .productpic {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .left-sidebar, .right-sidebar {
        display: flex;
        background-color: #f4f4f4;
    }

    .menu-icon{
        display: none;
    }

}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px) {
    .logo-placeholder {
        width: 60px;
        height: 60px;
    }
    
    .search-container {
        flex-grow: 1;
        margin: 0 20px;
    }
      
    .search-container input {
        flex-grow: 1;
        padding: 5px;
    }
      
    .search-button {
        border: none;
        cursor: pointer;
    }

    .tablet-desktop{
        gap: 15px;
    }

    .main-layout {
        grid-template-columns: 1fr 10fr 1fr;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
        gap: 20px;
        margin-top: 20px;
    }
}